<footer class="l-footer">
  <p>footer</p>
</footer>
<script src="<%= relativePath %>assets/js/vendor.bundle.js?date=<%= time %>"></script>
<script src="<%= relativePath %>assets/js/utils.bundle.js?date=<%= time %>"></script>
<script src="<%= relativePath %>assets/js/common.bundle.js?date=<%= time %>"></script>
<script src="<%= relativePath %>assets/js/<%= page.class %>.bundle.js?date=<%= time %>"></script>
</body>
</html>
