<footer class="l-footer">
  <p>footer</p>
</footer>
<script src="<%= relativePath %>/assets/js/plugins/sample.js?date=<%= data.time %>"></script>
<script src="<%= relativePath %>/assets/js/vendor.bundle.js?date=<%= data.time %>"></script>
<script src="<%= relativePath %>/assets/js/modules.bundle.js?date=<%= data.time %>"></script>
<script src="<%= relativePath %>/assets/js/common.bundle.js?date=<%= data.time %>"></script>
<script src="<%= relativePath %>/assets/js/<%= data[pageid].script %>.bundle.js?date=<%= data.time %>"></script>
</body>
</html>